body{
  background-color: black;
  display: flex;
  flex-flow: row wrap;
  width: 99%;
  align-self: flex-start;
  align-content: center;
  padding: auto;
}

#header{
  background-image: url("images/scout-trooper.gif");
  background-size: contain;
  background-repeat: no-repeat;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  height: 38em;
  /* border: .5em solid #ffe81f; */
  padding: 1em;
  margin-bottom: 1em;
}
/* #header img{
  width: 100%;
  height: 100%;
} */

h1{
  width: auto;
  /* border: .1em solid #ffe81f; */
  text-align: left;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 5em;
  font-weight: bold;
  color: #ffe81f;
}


#user-bar{
  display: flex;
  flex-flow: row nowrap;
  width: 100%;
  margin-bottom: 10em;
}

  #search{
    display: flex;
    align-self: flex-start;
    width: 45%;
    margin-right: auto;
    padding: .75em;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.25em;
    font-weight: bold;
    flex-flow: column nowrap;
  }


  #add-block{
    display: flex;
    width: 45%;
    margin-left: auto;
    margin-bottom: 3em;
    padding: .5em;
    flex-flow: column wrap;
    text-align: right;
    align-items: flex-end;
    border-radius: 3em;
    }

    profile-pic{
      margin-bottom: 1em;
    }

    label{
      font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      font-size: 1.5em;
      font-weight: bold;
      color: #0077ff;
    }
    input{
      font-size: 1.5em;
      width: 12em;
      height: 1.5em;
      border: .25em solid #ffe81f;
      
    }
  
    input:hover{
      color: #0077ff;
      border: #0077ff solid 0.25em;
      box-shadow: 0 0 1em 0.3em #0077ff;
    }
    
    input:focus{
      color: #0077ff;
      border: #0077ff solid 0.25em;
      box-shadow: 0 0 1em 0.3em #0077ff;
    }

  .scoutbtn{
    display: inline-block;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    font-size: 1em;
    font-weight: bold;
    height: 3em;
    width: 10em;
    border: #ffe81f solid 0.25em;
    color: #ffe81f;
    border-radius: 0.5em;

    padding: 0.25em 1em;

    text-shadow: 0 0 0.125em hsl(0 0 100% / 0.5),
    0 0 0.45em #ffe81f;

    box-shadow: inset 0 0 0.5em 0 #ffe81f,
    0 0 0.5em 0 #ffe81f;

    position: relative;

    transition: background-color 100ms linear;
  }

.scoutbtn:hover {
    color: #0077ff;
    border: #0077ff solid 0.2em;
    box-shadow: 0 0 1em 0.5em #0077ff;
  }

  #den{
    display: flex;
    width: 99%;
    height: auto;
    background-color: inherit;
    justify-content: center;
    gap: 3em;
    margin-bottom: 3em;
    text-align: center;
    flex-flow: row wrap;
  }

  .each-scout{
    display: flex;
    flex-flow:column nowrap;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;
    text-align: start;
    font-size: 1.5em;
    font-weight: bold;
    height: 10em;
    width: 15em;
    border: #ffe81f solid 0.25em;
    color: #ffe81f;
    border-radius: 0.5em;

    padding: 0.25em 1em;

    text-shadow: 0 0 0.125em hsl(0 0 100% / 0.5),
    0 0 0.45em #ffe81f;

    box-shadow: inset 0 0 0.5em 0 #ffe81f,
    0 0 0.5em 0 #ffe81f;

    position: relative;

    transition: background-color 100ms linear;
  }

.each-scout:hover {
    color: #0077ff;
    border: #0077ff solid 0.2em;
    box-shadow: 0 0 1em 0.5em #0077ff;
  }